{% load static %}

<h2>Skills</h2>
<ul class="skills-list">
  <li onclick="toggleConcept('python')">Python
    <ul id="python" class="concepts hidden">
      <li>Lists</li>
      <li>OOP</li>
      <li>Decorators</li>
      <li>File Handling</li>
    </ul>
  </li>
  <li onclick="toggleConcept('django')">Django
    <ul id="django" class="concepts hidden">
      <li>Models</li>
      <li>Views</li>
      <li>Templates</li>
      <li>ORM</li>
    </ul>
  </li>
  <li onclick="toggleConcept('react')">React.js
    <ul id="react" class="concepts hidden">
      <li>Components</li>
      <li>Props</li>
      <li>Hooks</li>
      <li>useEffect</li>
    </ul>
  </li>
</ul>
